:host {
  display: block;
  width: 200px;
  background: blue;
  padding: 10px;
  --button-border-radius: 5px;
}

.title {}

.counter-container {
    display: flex;
    box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--button-border-radius);
  box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.4);
  padding: 10px;
  background: #fff;
  .btn {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border: none;
    color: rgb(25, 123, 25);
    min-height: 30px;
    min-width: 30px;
    text-decoration: none;
    font-size: 24px;
    outline: none;
    cursor: pointer;
    border-radius: var(--button-border-radius);
    border: 1px solid rgb(7, 122, 7);
    &:active,
    &:hover {
      background: lightgray;
    }
    &:nth-of-type(odd) {
      margin-right: 15px;
    }
    &:nth-of-type(even) {
      margin-left: 15px;
    }
  }
  .content {
    display: inline-block;
    width: 80px;
    text-align: center;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    font-size: 32px;
    font-weight: 700;
    color: #000;
    margin: 0;
    width: 100%;
  }
}