:host {
  display: block;
  width: 200px;
  background: var(--default-background);
  padding: 10px;
  --button-border-radius: 5px;
}

.title {}

.counter-container {
    display: flex;
    box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--button-border-radius);
  box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.4);
  padding: 10px;
  background: #fff;
  .btn {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border: none;
    color: #fff;
    height: 50px;
    width: 50px;
    text-decoration: none;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    border-radius: var(--button-border-radius);
    &:active,
    &:hover {
      background: lightgray;
    }
    span {
      display: inline-block;
      text-align: center;
    }
  }
  .content {
    display: inline-block;
    width: 80px;
    text-align: center;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    span {
      font-weight: 700;
      color: #000;
      margin: 0;
      width: 100%;
    }

  }
}